<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s797981.maillist.MaillistViewPart"
            id="de.bht.fpa.mail.s797981.maillist.view1"
            name="Maillist"
            restorable="true">
      </view>
   </extension>
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s797981.maillist.view1"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s797981.main.perspective.top">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
