<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s797981.filter.menus.sampleMenu"
               label="Filter"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s797981.filter.commands.setFilter"
                  id="de.bht.fpa.mail.s797981.filter.menus.setFilter"
                  label="Set filter"
                  mnemonic="R"
                  tooltip="Here you can set your filter">
            </command>
          <command
                commandId="de.bht.fpa.mail.s797981.filter.commands.resetFilter"
                id="de.bht.fpa.mail.s797981.filter.menus.resetFilter"
                label="Clear filter"
                mnemonic="C"
                tooltip="Here you can reset your filter">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s797981.filter.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s797981.filter.commands.category"
            id="de.bht.fpa.mail.s797981.filter.commands.setFilter"
            name="Configure filter">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s797981.filter.commands.category"
            id="de.bht.fpa.mail.s797981.filter.commands.resetFilter"
            name="Clear filter">
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s797981.filter.handlers.SetFilterHandler"
            commandId="de.bht.fpa.mail.s797981.filter.commands.setFilter">
      </handler>
      <handler
            class="de.bht.fpa.mail.s797981.filter.handlers.ResetFilterHandler"
            commandId="de.bht.fpa.mail.s797981.filter.commands.resetFilter">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s797981.filter.commands.setFilter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="de.bht.fpa.mail.s797981.filter.commands.resetFilter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
   </extension>
	
</plugin>
